<div class="container-fluid">
<div class="jumbotron">
  <h1><strong>Quotes</strong></h1>
</div>


<app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
<div class="row">
<p>Here are some quotes</p>

<ul *ngFor='let quote of quotes'>

  <li><h4>{{quote.name}}</h4>
    <p>{{ quote.quote}}</p>
    <p>by {{quote.author}}</p>
    <button type="button" onclick="like(i)" class="btn">Upvote</button>
    <button type="button" onclick="dislike(i)" class="btn">DownVote</button>

    <!-- <app-quote-dislike></app-quote-dislike> -->
  </li>

</ul>
</div>
</div>
